/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://image.shutterstock.com/image-illustration/abstract-blue-red-smoke-steam-260nw-1468643051.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
}